<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.user.BrightnessControl</string>
    <key>CFBundleName</key>
    <string>BrightnessControl</string>
    <key>CFBundleExecutable</key>
    <string>BrightnessControl</string>
    <key>CFBundleVersion</key>
    <string>1.1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>CFBundleIconFile</key>
    <string>MainAppIcon</string>
    <key>LSUIElement</key>
    <true/> <!-- Menu bar app, no dock icon -->
</dict>
</plist>
